body {  
    background-image: url(https://th.bing.com/th/id/R.b41aa38f0767714681b571c018a5443b?rik=MrGfwzIRlSnRyw&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f2%2fe%2f7%2f1305760-ultra-hd-4k-wallpapers-1080p-1920x1080-for-tablet.jpg&ehk=b6ocVLpUxBRl0vZQhfUZpdzm5QrVjR3es8dotHF4mMg%3d&risl=&pid=ImgRaw&r=0);
    image-resolution: inherit;
}

.form2 {
    padding: 5px;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 35px;
    background-color: black;
    box-shadow: 0 0 20px 0 white
    
}

.container {
    text-align: center;
}

form {
    background-color: rgba(255, 255, 255, 0.0);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
    text-align: center;
}

#celdas {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: 1px;
    color: black;
    opacity: 0.7;
}

#celdas2 {
    width: 400px;
    background-color: white;
    border-radius: 5px;
}

button:hover {
    background-color: aliceblue;
}

.remember {
    text-align: left;
}

.table {
    background-color: white;
}

h4 {
    text-align: center;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}
